<div class="wiki wiki-page">
  <% c = textilizable(content, :text, :attachments => content.page.attachments,
        :edit_section_links => (@sections_editable && {:controller => 'wiki', :action => 'edit', :project_id => @page.project, :id => @page.title})) %>
  <%= insert_category_links(c, @project).html_safe %>
  <div class="wiki-tags">
    <% content.tags&.select{ |x| x.present? }&.each do |tag| %>
      <%= link_to tag, wiki_tag_path(tag, project_id: @project), class: 'wiki-tag' %>
    <% end %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery.mentions', plugin: :redmine_wiki_tags %>
<% end %>